repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.2
    hooks:
      - id: prettier
        args: ["--write", "."]
        files: '\\.(json|jsonc|ya?ml|md)$'
  - repo: https://github.com/sirosen/check-json
    rev: v2.0.2
    hooks:
      - id: check-json
