repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.3.2
    hooks:
      - id: prettier
        args: ["--write", "."]
        files: '\\.(json|jsonc|ya?ml|md)$'
  - repo: https://github.com/sirosen/check-json
    rev: v2.0.2
    hooks:
      - id: check-json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        additional_dependencies: []
        args:
          - --config-file=mypy.ini
          - scripts
